* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  padding: 1rem;
}

.header__title {
  width: 100%;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2rem;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 1.5rem auto;
}

.controls button {
  padding: 0.5rem 1rem;
}

.dropdown {
  position: relative;
}

.dropdown__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 168px;
}

.dropdown__btn__icon {
  margin-left: 0.5rem;
  width: 1.125rem;
}

.dropdown__menu {
  display: none;
  position: absolute;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  z-index: 99;
  background: #ffffff;
  box-shadow: 0px 5px 24px rgba(92, 92, 92, 0.25);
}

.dropdown__menu a {
  display: block;
  padding: 0.8rem 1rem;
}

.dropdown__menu a:hover {
  background: #f0efef;
}

.dropdown__menu a {
  color: inherit;
  text-decoration: none;
}

.dropdown__item--border {
  border-top: 1px solid #616161;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  width: 100%;
}

.canvas-wrapper {
  position: relative;
}

#maze-canvas,
#solution-canvas {
  position: absolute;
}

.warning {
  display: none;
  position: fixed;
  top: 0;
  z-index: 99;
}

@media (min-width: 577px) {
  .warning {
    left: calc(50% - 240px);
  }
}

.warning__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
  max-width: 100%;
  padding: 1rem;
  background-color: #fbeeca;
  border-radius: 0.25rem;
  box-shadow: 0px 5px 24px rgba(92, 92, 92, 0.25);
}

.warning__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning__icon,
.dismiss__icon {
  width: 20px;
  height: 20px;
}

.warning__message {
  margin-left: 0.5rem;
}

.dismiss {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  opacity: 0.5;
}

.dismiss:hover,
.dismiss:active {
  opacity: 1;
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.is-active {
  display: block;
}
