.text,
.actions {
  width: 100%;
  text-align: center;
}

.text {
  margin-top: 4.5rem;
  min-height: 1.188rem;
}

.actions {
  margin-top: 1rem;
}

@media (max-width: 576px) {
  .text {
    margin-top: 1.5rem;
    min-height: 76px;
  }
}
