.E2yuxi8gRfMmSFVLuqr2g {
  width: 280px;
}

.E2yuxi8gRfMmSFVLuqr2g > img {
  display: block;
}

@media (max-width: 576px) {
  .E2yuxi8gRfMmSFVLuqr2g {
    width: 260px;
    margin-bottom: 0.5rem;
  }
}

._2ITol26dvLxG6gSEzMtHV5 {
  position: relative;
}

._2u8bgDq_Ojp-FV2IDBjAGq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._2u8bgDq_Ojp-FV2IDBjAGq:focus {
  color: var(--green);
}

._1Yj003KznekICvuETTxH2S {
  margin-left: 0.25rem;
  width: 1.175rem;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

._1Yj003KznekICvuETTxH2S svg {
  width: 100%;
  display: block;
}

._2u8bgDq_Ojp-FV2IDBjAGq:focus > ._1Yj003KznekICvuETTxH2S {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

._2sRpgHL0QmGgCsJmg55pVM {
  display: none;
  position: absolute;
  width: 200px;
  margin-top: 1rem;
  list-style: none;
  z-index: 21;
  background: #ffffff;
  border-radius: 0.5rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

@media (max-width: 576px) {
  ._2sRpgHL0QmGgCsJmg55pVM {
    width: 180px;
    max-height: 58vh;
    overflow: auto;
  }
}

._2R0aPKTDxm_uc8NjYu-L6y {
  padding: 0.25rem 0;
}

._2R0aPKTDxm_uc8NjYu-L6y a {
  display: block;
  padding: 0.5rem 1rem;
}

._2R0aPKTDxm_uc8NjYu-L6y a:hover {
  background: var(--green);
  color: #ffffff;
}

.-WHSKGr2K7ohs5N-dlDvm {
  border-top: 0.0625rem solid var(--grey);
}

._18mG4omm10rEOUR4Ra-pkH {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2.5rem;
}

._18mG4omm10rEOUR4Ra-pkH > * {
  margin-right: 2.5rem;
}

@media (max-width: 576px) {
  ._18mG4omm10rEOUR4Ra-pkH {
    margin-left: 0;
  }

  ._18mG4omm10rEOUR4Ra-pkH > * {
    margin-right: 1.5rem;
  }
}

._2-lXph-IPfctUnWXtxKB4Y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  font-size: 0.875rem;
  background: var(--light-yellow);
  border-radius: 0.25rem;
}

._1_Gs0b90shQbE8DnPyYS1y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SHlMkqOyhn5PWYUP3mJZ0 {
  width: 1.25rem;
}

.SHlMkqOyhn5PWYUP3mJZ0 svg {
  display: block;
  width: 100%;
}

.ZjNb5-mHTw3XCGPFYXN1e {
  margin-left: 0.5rem;
  word-wrap: normal;
}

button svg {
  display: block;
}

._2YHABzX-d4jXpz-8Ddq6U0 {
  margin-top: 1.5rem;
}

._38PTx4nCKq5leEDc11LnmA {
  padding: 2.5rem 0;
}

.CzTYbJq1qaAAwk0qVfH4B {
  border-top: 0.0625rem solid var(--grey);
}

._1HTKfmiQSQonmd5YjVe4_d {
  display: block;
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
}

._1HTKfmiQSQonmd5YjVe4_d input {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--grey);
  border-radius: 0.25rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

._1HTKfmiQSQonmd5YjVe4_d input:focus {
  outline: none;
  border: 2px solid var(--green);
}

._1WB1GiwXWbDz1cyttYg4Z- {
  display: block;
  margin-top: 0.5rem;
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--light-black);
}

._1fmOkkhRwB-FRVwzXC52c {
  width: 100%;
}

._1FIqTGRsfVxPVvTM8N_feV {
  margin-top: 1.5rem;
}

._1EfxnBqRkd6QhaBetlUWW2 {
  width: 1.25rem;
}

._1EfxnBqRkd6QhaBetlUWW2 svg {
  display: block;
  width: 100%;
}

._2sr2z2tgAHlqLGG5mEzPmb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 280px);
}

@media (max-width: 576px) {
  ._2sr2z2tgAHlqLGG5mEzPmb {
    width: 100%;
  }
}

._1_5km6yuZijy_H8L70L5DV {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

._1_5km6yuZijy_H8L70L5DV a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 576px) {
  ._1_5km6yuZijy_H8L70L5DV {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

._1bRaiwvJyiOXz846HgS7ad {
  border: none;
  font-size: 0.875rem;
  background: none;
  cursor: pointer;
  opacity: 0.5;
}

._1bRaiwvJyiOXz846HgS7ad:hover,
._1bRaiwvJyiOXz846HgS7ad:active {
  color: var(--black);
  opacity: 1;
}

._1bRaiwvJyiOXz846HgS7ad svg {
  display: block;
  width: 100%;
}

._1VfohONkUzaPbVZeORWJET {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.PGYoHl6ty4E5w6M0bcB6Y {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid;
}

._13Kc6Lj00Sh31SbLcw8IT5 {
  width: 4.5rem;
}

.PGYoHl6ty4E5w6M0bcB6Y img {
  display: block;
  width: 100%;
}

.zrdpT56rCaRmHxO-DSGdr {
  margin-left: 0.5rem;
}

._3ATCX6mK_s0Lq2Ef6qmwqm {
  width: 100%;
  overflow-x: auto;
  list-style: none;
}

._2zaYSqkzR0jvBCqbvXzubS {
  display: inline-block;
  margin-top: 0.5rem;
  margin-left: 2rem;
}

@media (max-width: 576px) {
  ._3ATCX6mK_s0Lq2Ef6qmwqm {
    white-space: nowrap;
  }

  ._2zaYSqkzR0jvBCqbvXzubS {
    margin-left: 2rem;
  }

  ._3ATCX6mK_s0Lq2Ef6qmwqm > ._2zaYSqkzR0jvBCqbvXzubS:first-child {
    margin-left: 0;
  }
}

._3Hly0Fw5xVscTalDAR8Kpz,
.k3mroKwcsOQwF7EyVllwy {
  max-width: calc(1288px + 4rem);
  width: 100%;
  min-height: 227px;
  margin: 0 auto;
  padding: 1rem 0 1.5rem;
}

.k3mroKwcsOQwF7EyVllwy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._3ppmsDXjtyeBux8xgwBxPB,
._3JTc-23hBzeVJTgYlOH-F3 {
  width: 100%;
  text-align: center;
}

._3ppmsDXjtyeBux8xgwBxPB {
  margin-top: 4.5rem;
}

._3JTc-23hBzeVJTgYlOH-F3 {
  margin-top: 1rem;
}

@media (max-width: 576px) {
  ._3Hly0Fw5xVscTalDAR8Kpz,
  .k3mroKwcsOQwF7EyVllwy {
    padding: 0.25rem 0.75rem 1rem;
    min-height: 197px;
  }

  ._3ppmsDXjtyeBux8xgwBxPB {
    margin-top: 1.5rem;
  }
}

:root {
  --light-grey: #cfcdcb;
  --grey: #9e9e9e;
  --grey-alpha: #7a7a7a83;
  --light-black: #282836;
  --black: #151524;
  --green: #007498;
  --dark-green: #004e56;
  --light-yellow: #fbeeca;
  --box-shadow: 0px 5px 24px rgba(92, 92, 92, 0.25);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--black);
}

h2,
h3 {
  font-family: 'Merriweather', serif;
  color: var(--black);
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  padding: 0 1.5rem;
  z-index: 20;
  border-bottom: 0.0625rem solid var(--light-grey);
  background: #ffffff;
}

@media (max-width: 576px) {
  .header {
    height: 85px;
    padding: 0 0.75rem;
  }
}

.btn {
  background: none;
  border: none;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  color: var(--green);
}

.btn:focus {
  outline: none;
}

.btn--primary {
  padding: 0.8rem 1rem;
  color: #ffffff;
  border: 0.0625rem solid var(--green);
  border-radius: 0.5rem;
  background: var(--green);
}

.btn--primary:hover,
.btn--primary:active {
  color: #ffffff;
  border-color: var(--dark-green);
  background: var(--dark-green);
}

.btn--primary:disabled {
  color: #ffffff;
  border-color: var(--light-grey);
  background: var(--light-grey);
}

.main {
  margin-top: 72px;
  width: 100%;
  overflow: auto;
}

@media (max-width: 576px) {
  .main {
    margin-top: 85px;
  }
}

.canvas-wrapper {
  position: relative;
  margin: 0 auto;
}

canvas {
  position: absolute;
}

.popup-warning {
  display: none;
  position: fixed;
  top: 0;
  left: calc(50% - 240px);
  width: 480px;
  max-width: 100%;
  z-index: 99;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

@media (max-width: 576px) {
  .popup-warning {
    left: 0;
  }
}

.settings-drawer {
  position: fixed;
  top: 0;
  right: -30%;
  width: 30%;
  height: 100%;
  overflow: auto;
  padding: 1rem 2rem;
  visibility: hidden;
  opacity: 0;
  z-index: 120;
  background: #ffffff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media (max-width: 1024px) and (min-width: 577px) {
  .settings-drawer {
    right: -45%;
    width: 45%;
  }
}

@media (max-width: 576px) {
  .settings-drawer {
    right: -80%;
    width: 90%;
    padding: 1rem 1.5rem;
  }
}

.is-open {
  visibility: visible;
  opacity: 1;
  right: 0;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 119;
  background: var(--grey-alpha);
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.is-active {
  display: block;
}

.disabled a:hover {
  background: var(--light-grey);
}

