.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--light-yellow);
  border-radius: 0.25rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
}

.message {
  margin-left: 0.5rem;
  word-wrap: normal;
}

.dismiss {
  opacity: 0.5;
}

.dismiss:hover,
.dismiss:active {
  opacity: 1;
}
