.label {
  display: block;
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.label input {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--grey);
  border-radius: 0.25rem;
  appearance: none;
}

.label input:focus {
  outline: none;
  border: 2px solid var(--link-color);
}

.clue {
  display: block;
  margin-top: 0.5rem;
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--light-black);
}
