.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.navbar a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 576px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
