.BlankSlate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 187px;
  text-align: center;
}

.BlankSlate p b {
  font-weight: 700;
}

.weightInfo {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 1rem;
}

.weightInfo > p {
  margin-right: 0.25rem;
}

.Tooltip {
  display: none;
  position: absolute;
  width: 290px;
  margin-top: 15%;
  left: 40.5%;
  padding: 1rem 1.25rem;
  text-align: left;
  line-height: 1.4;
  z-index: 15;
  background: #ffffff;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-alt);
}

.Tooltip::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 0rem;
  left: 55%;

  border: 0.5rem solid black;
  border-color: transparent transparent #ffffff #ffffff;

  transform-origin: 0 0;
  transform: rotate(135deg);
  box-shadow: var(--triangle-box-shadow);
}

.TooltipAction {
  margin-top: 1.5rem;
}

@media (max-width: 576px) {
  .BlankSlate {
    height: 197px;
  }

  .Tooltip {
    left: -10px;
  }

  .Tooltip::after {
    left: 95%;
  }
}
