.Btn {
  background: none;
  border: none;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--black);
  white-space: nowrap;
  cursor: pointer;
}

.Btn:hover,
.Btn:active {
  color: var(--link-color);
}

.Btn:focus {
  outline: none;
}

:global(.primary),
:global(.ghost) {
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  border-width: 0.0625rem;
  border-style: solid;
}

:global(.primary) {
  color: #ffffff;
  border-color: var(--link-color);
  background: var(--link-color);
}

:global(.primary):hover,
:global(.primary):active {
  color: #ffffff;
  border-color: var(--link-color-hover);
  background: var(--link-color-hover);
}

:global(.primary):disabled {
  color: #ffffff;
  border-color: var(--light-grey);
  background: var(--light-grey);
}

:global(.ghost) {
  border-color: var(--black);
  border-radius: 0.5rem;
  background: transparent;
}

:global(.ghost):hover,
:global(.ghost):active {
  color: var(--black);
  background: var(--ghost-btn-hover);
}

:global(.ghost):disabled {
  color: var(--light-grey);
  border-color: var(--light-grey);
  background: transparent;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown:focus {
  color: var(--link-color);
}

.dropdown > span {
  margin-left: 0.25rem;
  width: 1.175rem;
  transform: rotate(0deg);
  transition: all 0.1s ease-out;
}

.dropdown:focus > span {
  transform: rotate(180deg);
}

.settings,
.smallIcon {
  width: 1.25rem;
}

.fullWidth {
  width: 100%;
}

.smallPadding {
  padding: 0.5rem 0.8rem;
}

.opacityChangeOnHover {
  opacity: 0.5;
}

.opacityChangeOnHover:hover,
.opacityChangeOnHover:active {
  color: var(--black);
  opacity: 1;
}

.helpIcon:hover > svg > circle,
.helpIcon:active > svg > circle {
  fill: var(--link-color-hover);
  stroke: var(--link-color-hover);
}

.Btn svg {
  width: 100%;
  display: block;
}
