.popupWarning {
  display: none;
  position: fixed;
  top: 0;
  left: calc(50% - 240px);
  width: 480px;
  max-width: 100%;
  z-index: 99;
  box-shadow: var(--box-shadow);
}

@media (max-width: 576px) {
  .popupWarning {
    left: 0;
  }
}
