.Dropdown {
  position: relative;
}

.dropdownMenu {
  display: none;
  position: absolute;
  width: 200px;
  margin-top: 1rem;
  list-style: none;
  z-index: 21;
  background: #ffffff;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

@media (max-width: 576px) {
  .dropdownMenu {
    width: 180px;
    max-height: 58vh;
    overflow: auto;
  }
}
