.SettingsDrawer {
  position: fixed;
  top: 0;
  right: -30%;
  width: 30%;
  height: 100%;
  overflow: auto;
  padding: 1rem 2rem;
  visibility: hidden;
  opacity: 0;
  z-index: 120;
  background: #ffffff;
  transition: all 0.3s ease-out;
}

@media (max-width: 1024px) and (min-width: 577px) {
  .SettingsDrawer {
    right: -45%;
    width: 45%;
  }
}

@media (max-width: 576px) {
  .SettingsDrawer {
    right: -80%;
    width: 90%;
    padding: 1rem 1.5rem;
  }
}

.title {
  margin-top: 1.5rem;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 119;
  background: var(--grey-alpha);
  transition: opacity 0.3s ease-out;
}
